.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 426px) {
        flex-direction: column;
      }
}

.container2 {
    margin: 45px 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    @media screen and (max-width: 426px) {
        flex-direction: column;;
        margin: 20px;
    }
    &__collapse  {
        width: 100% ;
    }
}

.mobile-responsive {
    @media screen and (max-width: 426px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 20px;
    }
}

