@import "../../Styles/Utils/variables";
@import "../../Styles/Utils/mixins";
.about--1 {
  max-width: 80%;
  margin: 0 auto;
}
.about__container {
  margin: 0 100px;
  @media screen and (max-width: 426px) {
    @include custom-margin-mobile
  }
}

.accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  input[type="checkbox"] {
    display: none;
  }
  &__container {
    width: 100%;
    list-style-type: none;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  &__icon {
    transition: transform 0.4s ease-in-out;
  }
  &__content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
    color: $primary-color;
    padding: 15px;
    margin-bottom: 15px;
    height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 0;
  }
  input[type="checkbox"]:checked + .accordion__title + .accordion__content {
    height: auto;
    background-color: $secondary-color;
    opacity: 1;
  }
  input[type="checkbox"]:checked ~ .accordion__title .accordion__icon {
    transform: rotate(
      -180deg
    ); 
  }
  @media screen and (max-width: 426px) {
    .accordion__content {
      padding: 5px;
      margin-bottom: 0px;
    }
  }
}
